<!doctype html>
<html>
<head>
<%- include('common/head') %>
<title>TOP</title>
</head>
<body>
<%- include('common/menu_index') %>
<div class="main">
  <div class="container-md">
    <% foundItems.forEach(function(file) { %>
    <div class="border-bottom tms-item">
      <div><a href="<%- file.path %>"><%= file.title %></a></div>
      <div class="small text-muted text-monospace"><%= file.notation %></div>
    </div>
    <% }); %>
  </div>
</div>
<script src="/-/jquery/jquery.min.js"></script>
</body>
</html>
