<!doctype html>
<html>
<head>
<%- include('common/head') %>
<title>TOP</title>
</head>
<body>
<%- include('common/menu_index') %>
<div class="main">
    <div class="container-md">
        <% files.forEach(function(file) { %>
        <div class="border-bottom tms-item" data-tms-item-md5="<%= file.notation_md5 %>">
            <div><a href="<%- file.path %>"><%= file.title %></a></div>
            <div class="small text-muted text-monospace"><%= file.notation %></div>
        </div>
        <% }); %>
    </div>
</div>
<script src="/-/jquery/jquery.min.js"></script>
<script src="/-/index.js"></script>
</body>
</html>
