<!doctype html>
<html>
<head>
<%- include('common/head') %>
<title>Top</title>
</head>
<body>
<%- include('common/menu') %>
<div class="main">
    <div class="markdown-body">
        <% files.forEach(function(file) { %>
        <div class="border-bottom">
            <div><a href="<%- file.path %>"><%= file.title %></a></div>
            <div class="small text-muted text-monospace"><%= file.notation %></div>
        </div>
        <% }); %>
    </div>
</div>
</body>
</html>
